body {
  background: #B7FAEE;
  font-size: 0.9em};
  font-family: 'Raleway', sans-serif;
footer {
  background: #00614F;
}
/* tous les éléments contenus dans html auront la police Arial */
html {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
h1{font-size: 3em;
}
h2 {
  font-size: 2em;
  color : black
}
h3 {
  font-size: 1.5em;
  color: grey;
  font-family: 'Raleway', sans-serif
}
