body {
  min-height: 100vh;                  /* 1 */
  display: grid;                      /* 2 */
  grid-template-columns: 200px 1fr;   /* 3 */
  grid-template-rows: 150px 1fr 50px;  /* 3 */
  margin: auto;
  background: #B7FAEE;
  font-size: 0.9em;
  font-family: 'Raleway', sans-serif}
  
header{
  grid-column : 1 /span 2;
  color : #B7FAEE ;
  margin : auto;
  width: 300px;
  padding: 1px;
  border: 2px solid #00614F;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: #00614F;
  margin-bottom: 30px;
}

#menu {
  grid-column: 1;
  grid-row: 2;
  width: 220px;
  padding: 2px;
  margin: auto;
  border: 2px solid #00614F;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: #00E0B7;
  color: #00614F;
   box-shadow: 1px 2px 3px black}
/* gérer les liens */

#article {
  grid-column: 2;
}

#menu li, 
#menu a {
  color : #00614F;
  text-decoration : none;
  list-style: circle;
}


footer {
  background: linear-gradient(150deg, #00614F, #00E0B7);
  margin-top: 30px;
  margin : auto;
  grid-column: 1/span 2;
  grid-row: 3;
}


html {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
h1{font-size: 3em;
}
h2 {
  font-size: 2em;
  color : black
}
h3 {
  font-size: 1.5em;
  color: grey;
  font-family: 'Raleway', sans-serif
}

