html{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 1.5625rem;
}
h2{
  font-size: 1.25rem;
}

p,
ul {
  font-size: 0.8rem;
  line-height: 1.6;
}

code p {
 padding: 0;
 margin : 0;
 line-height: 1.5;
}
body{
    margin: auto;
    background-color: #eff2f5;;
}

header{
  position : fixed; /* le forcer à rester */
  top : 0; 
  right: 0; /* boite coller en haut et droite*/
 background: linear-gradient(45deg,deeppink, orange 75%, orangered);
 overflow : hidden;
 height: 40px;
}

.header_style {
  display: flex; /* organisat° de gauche à droite*/
  margin : auto;
  width: 100%;
  max-width: 1212px;
}

.header_style > * {
  padding: 0; /* supprimer les marges par défault */
  margin: 0;
  font-size: 15px;
  line-height: 25px; /* = à la hauteur de la ligne de texte */
  height: 25px;
  padding-top: 10px; 
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* petite séparation */
.header_style .separation {
  flex-grow: 1;
}

.header_style h4 span,
.header_style p {
  color: white;
}

#md-content {
  margin-top: 70px; /*espacement */
}

article {
  max-width: 683px;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  padding-top: 0.6rem;
}
.bloc {
  background-color: rgba(239, 242, 245, 0.5);
}
code {
  background-color: transparent;
}
code p {
  padding-left: 10px;
  padding-right: 10px;
}